[submodule "dotnet_src/npgsql"]
	path = dotnet_src/npgsql
	url = git@git.brickabode.com:DotNetInPostgreSQL/npgsql.git

[submodule "tests/llm-test-generator"]
	path = tests/llm-test-generator
	url = git@git.brickabode.com:DotNetInPostgreSQL/llm-test-generator.git
