# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
./*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# vscode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# KATE
.kate-swp

# ouput from dotnet engine
dotnet_src/obj/
dotnet_src/bin/
dotnet_src/Common/obj/*
dotnet_src/Common/bin/*
dotnet_src/FSharp/obj/
dotnet_src/FSharp/bin/
dotnet_src/TypeHandlers/obj/
dotnet_src/TypeHandlers/bin/

# cache extensions
*.cache

# Java
*.class
*.ddr
*.jar
*.lst
pom.properties

logs/
automated_test_results/

# debian build files
*.log
*.deb
*.ddeb
*.substvars
build*/
package-build-log.txt
debian/postgresql-*-pldotnet/
debian/.debhelper

tests/benchmark/java/test-suite/
!tests/benchmark/java/test-suite/*.java
automated_test_results/*
expected/*
docs/html/*

regression.*

tests/csharp/DotNetTestProject/bin
tests/csharp/DotNetTestProject/obj

tests/fsharp/DotNetTestProject/bin
tests/fsharp/DotNetTestProject/obj

docs/img/*.png
docs/_minted*
docs/pldotnet-whitepaper-dec22.*
!docs/pldotnet-whitepaper-dec22.tex
.venv.created

tests/npgsql/bin/
tests/npgsql/obj/
tests/npgsql/sql/
docs/FAQ/site/
